{% extends 'base.html' %}

{% block title %}
    Django Dogs | About
{% endblock %}

{% block content %}

<div class="container" id="about">
    <br>
    <h1>About Django Dogs</h1>
    <p>This webiste is a proof of concept project.</p>
    <p>It is built using Python and Django, and hosts a database with multiple models.
    </p>
    <p>The models have varied complex relationships, and full CRUD functionality.</p>
    <p>Of course, it's also a place to post information about your dog, and their toys!</p>
</div>

{% endblock %}