{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- CDN SCRIPTS -->
    <link rel="stylesheet" href="{% static 'styles/styles.css' %}" />
    <script src="{% static 'scripts/app.js' %}" defer></script>
    <title>{% block title %} {% endblock %}</title>
</head>
<body>
    <body>
        <nav>
            <a href="/admin">Admin</a>
            <a href="/">Home</a>
            <a href="/about">About</a>
            <a href="/dogs">Dogs</a>
            <a href="{% url 'dogtoys_index' %}"">Dog Toys</a>
            <a href="{% url 'dog_create' %}">Add a Dog</a>
            <a href="{% url 'dogtoys_create' %}">Add a Dog Toy</a>
        </nav>
        {% block content %}
    
        
        {% endblock %}
</body>
</html>