{% extends 'base.html' %}
{% block content %}

<h1>Dog Toy Details</h1>

<div>
    <div>
        <span>{{ dogtoy.name }}</span>
        <p>Color: {{ dogtoy.color }}</p>
        <p>Owned by:</p>
        {% for dog in dogtoy.dog_set.all %}
            <p>{{dog.name}}</p>
        {% empty %}
            <p>No Dogs Have This Toy 🤨</p>
        {% endfor %}
    </div>
    <div>
        <a href="{% url 'dogtoys_update' dogtoy.id %}">Edit</a>
        <a href="{% url 'dogtoys_delete' dogtoy.id %}">Delete</a>
    </div>
</div>
{% endblock %}